{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookstore - Ajax book store implementation </title>
    <link rel="stylesheet" type="text/css" href="{% static 'bookajax/css/bootstrap.min.css' %}">
    <link href="{% static 'bookajax/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">

</head>
<body id="root_attach">
{% csrf_token %}
<!---the navigation will be here -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark pt-2 fixed-top">
    <div class="container">
        <a class="navbar-brand btn btn-info" onclick="getBook('/crud/get_book_list')">BookStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ">
                <li><a class="btn btn-info" onclick="getBook('/crud/get_book_form')">Add Book</a></li>
            </ul>
        </div>
    </div>
</nav>

<!---the end of the navigation -->
<div class="container mt-3 pt-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container">
    {% block content %}
        <!--content placement-->
    {% endblock %}
</div>

<script src="{% static 'bookajax/js/jquery.min.js' %}"></script>
<script src="{% static 'bookajax/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'bookajax/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'bookajax/js/bootstrap.min.js' %}"></script>
<script src="{% static 'bookajax/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'bookajax/js/custom.js' %}"></script>

<script>
    {#        $(function () {#}
    {#           $("#js_add").click(function () {#}
    {#               // its not even getting to this line at all...#}
    {#               $("#js_book_create").submit(function (event) {#}
    {#                   event.preventDefault();#}
    {#                   console.log("We are inside the function");#}
    {#                  var form = $(this);#}
    {#                  $.ajax({#}
    {#                      url: form.attr("action"),#}
    {#                      data: form.serialize(),#}
    {#                      type: form.attr("method"),#}
    {#                      dataType: 'json',#}
    {#                      beforeSend: function (data) {#}
    {#                        $(".js_form_body").html(data.html_form);#}
    {#                      },#}
    {#                      success: function (data) {#}
    {#                          if(data.html_form_status){#}
    {#                              $("#book-table tbody").html(data.html_form_success);#}
    {#                          }#}
    {#                          else{#}
    {#                              $("#js_form_body").html(data.html_form);#}
    {#                          }#}
    {#                      }#}
    {#                  });#}
    {#                  $("#js_book_create").trigger("reset");#}
    {#                  return false;#}
    {#               });#}
    {#           });#}
    {#        });#}

    {#        $(function () {#}
    {#            $("#js_book_create").submit(function (event) {#}
    {#                   event.preventDefault();#}
    {#                   var formvalues = $(this).serialize();#}
    {#                   $.post("{% url 'book_create' %}", formvalues, function(data){#}
    {#                       if(data.html_form_status){#}
    {#                          $("#book-table tbody").html(data.html_form_success);#}
    {#                       }#}
    {#                       else{#}
    {#                           $("#js_book_create").trigger("reset");#}
    {#                       }#}
    {#                   });#}
    {#            });#}
    {#        });#}
    $(function () {
        $(".js_but").click(function () {
            alert("This page is working with Jquery");
        });

    });

</script>
</body>
</html>


{#               $.get("{% url 'book_create' %}")#}
{#                   .done(function () {#}
{#                       alert("$.get succeeded");#}
{#                   })#}
{#                   .fail(function () {#}
{#                      alert("$.get failed");#}
{#                   });#}