{% load widget_tweaks %}
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="card mt-3 ">
            <div class="card-body">
                <form method="POST" id="js_book_update">
                    {% csrf_token %}
                    <!---form goes in here--using django-widget_tweaks to render the form -->
                    <div class="text-center">
                        <h3 class="text-uppercase">book creation</h3>
                        <hr>
                    </div>
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                                <span class="help-block" style="color: darkred">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Update</button>
                        <a href="{% url 'book_list' %}" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
