
{% load widget_tweaks %}
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card mt-3">
                <div class="card-body">
                    <form  id="js_book_create">

                    <!---form goes in here--using django-widget_tweaks to render the form -->
                      <div class="text-center">
                          <h3 class="text-uppercase">book creation</h3><hr>
                      </div>
                      {% for field in form %}
                          <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% for error in field.errors %}
                              <span class="help-block" style="color: darkred">{{ error }}</span>
                            {% endfor %}
                          </div>
                        {% endfor %}
                        <div class="form-group">
                          <button type="submit" class="btn btn-success">Submit</button>

                        </div>
                 </form>
                </div>
            </div>
        </div>
    </div>
