<div class="js_form_body">
    <table class="table" id="js_book_table">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Type</th>
            <th>Publication date</th>
            <th>Pages</th>
            <th>Price</th>
            <th>Actionz</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.get_book_type_display }}</td>
                <td>{{ book.publication_date }}</td>
                <td>{{ book.pages }}</td>
                <td>{{ book.price }}</td>
                <!--Needs to add js--script to the links--->
                <td style="width: 150px">
                    <a href=""
                       class="btn btn-warning btn-sm js_book_update" onclick="getId('EDIT ME '+ {{ book.id }})">Edit</a>
                    <a href=""
                       class="btn btn-Danger btn-sm js_book_delete" onclick="getId('DELETE ME '+ {{ book.id }})">Delete</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7" class="text-center bg-warning">No book</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>